# Python Set Exercise

### 1. Write a Python program to check if two sets have any common elements.

In [17]:
a={1,2,3,4,5,6}
print("set1;",a)
b={98,87,54,5,55,6}
print("set2;",b)
common_elements = a.intersection(b)
print("set of common elements in set1 & set2 is ;",common_elements)

set1; {1, 2, 3, 4, 5, 6}
set2; {98, 5, 6, 54, 55, 87}
set of common elements in set1 & set2 is ; {5, 6}

### 2. Write a Python program to find the difference between two sets.

In [22]:
a={1,2,3,4,5,6}
print("set1;",a)
b={98,87,54,5,55,6}
print("set2;",b)
d=a.difference(b)
g=b.difference(a)
print("set of difference in set1 & set2 is ;",d,"&",g)

set1; {1, 2, 3, 4, 5, 6}
set2; {98, 5, 6, 54, 55, 87}
set of difference in set1 & set2 is ; {1, 2, 3, 4} & {98, 87, 54, 55}

### 3. Write a Python program to find the symmetric difference between two sets.

In [21]:
a={1,2,3,4,5,6}
print("set1;",a)
b={98,87,54,5,55,6}
print("set2;",b)
d=a.symmetric_difference(b)
print("set of symmetric difference in set1 & set2 is ;",d)

set1; {1, 2, 3, 4, 5, 6}
set2; {98, 5, 6, 54, 55, 87}
set of symmetric difference in set1 & set2 is ; {1, 2, 3, 4, 87, 98, 54, 55}

### 4. Write a Python program to create a set from a given list and remove the duplicates.

In [13]:
let_list=[1,2,3,2,2,3,3]
print("list is :",let_list)

x=set(let_list)
print("set from list after removing duplicates is:",x)

list is : [1, 2, 3, 2, 2, 3, 3]
set from list after removing duplicates is: {1, 2, 3}

### 5. Write a Python program to create a new set with all in the elements from two sets, but exclude the common ones.

In [16]:
set1={1,2,3,4}
print("set1:",set1)
set2={5,6,2,4}
print("set2:",set2)
x=set1.symmetric_difference(set2)
print("new set excluded the common:",x)

set1: {1, 2, 3, 4}
set2: {2, 4, 5, 6}
new set excluded the common: {1, 3, 5, 6}

### 6. Write a Python program to check if a set is a subset of another set.

In [2]:
set1={1,2,3,4,5}
set2={3,4,5} 
x=set2.issubset(set1)
print("set2 is subset of set1:",x)

set2 is subset of set1: True

### 7. Write a Python program to find the maximum and minimum values in a set.

In [23]:
set1={1,2,3,4,5}
print("set1:",set1)
x=max(set1)
y=min(set1)
print("maximum of set1:",x)
print("minimum of set1:",y)

set1: {1, 2, 3, 4, 5}
maximum of set1: 5
minimum of set1: 1

### 8. Write a Python program to remove all the elements from a set.

In [3]:
set1={1,2,3,40}
print("set is: ",set1)
set1.clear()
print("cleared set:",set1)

set is:  {40, 1, 2, 3}
cleared set: set()

### 9. Write a Python program to update a set with the union of itself and another set.

In [12]:
set1={1,2,3,4,5}
print("set1:",set1)
set2={1,5,6,4,8}
print("set2:",set2)
set1.update(set2)
print("union of set1 and set2 : ",set1)

set1: {1, 2, 3, 4, 5}
set2: {1, 4, 5, 6, 8}
union of set1 and set2 :  {1, 2, 3, 4, 5, 6, 8}

### 10. Write a Python program to find the sum of all the elements in a set.

In [15]:
set1={1,2,3,4,5}
print("set1:",set1)
set2={1,5,6,4,8}
print("set2:",set2)
x={i+j for i,j in zip(set1,set2)}
print("set of sum of elements in set1 and set2:",x)

set1: {1, 2, 3, 4, 5}
set2: {1, 4, 5, 6, 8}
set of sum of elements in set1 and set2: {2, 6, 8, 10, 13}